<h6>Welcome {{ user.username }}!</h6>
<br>
<p>To finish activating your account - please visit <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<br>
<p>This link can only be used once to validate your account.</p>
<br>
Regards,
the Team.
